*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#productCon{
    height: 700px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px gainsboro;
    margin:20px auto;
    padding: 0 0 10px 0;
}
.product{
    display: flex;
    height: 360px;  
}
p{
    font-family: sans-serif;
    text-align: justify;
}
.product > section:nth-child(2){
    height:inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.button{
     background-color:green;
    padding: 7px 10px;
    border-radius: 6px;
    color: white;
    border: none;
    font-size: 20px;
}
.button-1{
     background-color:red;
    padding: 7px 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
}

.button-1 a{
    text-decoration: none;
    color: white;

}
.review{
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.review > section{
    border-top: 1px solid grey;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}